@{
    ViewData["Title"] = "Aluno";
}

<h1>Aluno</h1>
<div class="card">
    <div class="card-body">
        <p><strong>Nome:</strong> @ViewBag.Nome</p>
        <p><strong>Curso:</strong> @ViewBag.Curso</p>
        <p><strong>Semestre:</strong> @ViewBag.Semestre</p>
    </div>
</div>
